<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <pre class='xdebug-var-dump' dir='ltr'>
<small>G:\PHP\wamp64\www\framework\gitTest\hy-admin2.0\TP5Admin\application\common\model\HyAccount.php:203:</small>
<b>array</b> <i>(size=16)</i>
  0 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>2000</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'主页'</font> <i>(length=6)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'nav'</font> <i>(length=3)</i>
      'icon' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'laptop'</font> <i>(length=6)</i>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'indexPage'</font> <i>(length=9)</i>
      'route' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'/indexPage'</font> <i>(length=10)</i>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'2000'</font> <i>(length=4)</i>
  1 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>2100</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>2000</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'获取主页信息'</font> <i>(length=18)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'url'</font> <i>(length=3)</i>
      'icon' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>''</font> <i>(length=0)</i>
      'route' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'2100-2000'</font> <i>(length=9)</i>
  2 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>3000</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'Users'</font> <i>(length=5)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'nav'</font> <i>(length=3)</i>
      'icon' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'user'</font> <i>(length=4)</i>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'users'</font> <i>(length=5)</i>
      'route' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'/users'</font> <i>(length=6)</i>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'3000'</font> <i>(length=4)</i>
  3 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>3101</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>2100</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'列表'</font> <i>(length=6)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'url'</font> <i>(length=3)</i>
      'icon' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>''</font> <i>(length=0)</i>
      'route' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'3101-3000'</font> <i>(length=9)</i>
  4 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>3102</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>2100</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'读取'</font> <i>(length=6)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'url'</font> <i>(length=3)</i>
      'icon' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>''</font> <i>(length=0)</i>
      'route' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>''</font> <i>(length=0)</i>
  5 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>3103</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>2100</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'编辑'</font> <i>(length=6)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'url'</font> <i>(length=3)</i>
      'icon' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>''</font> <i>(length=0)</i>
      'route' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>''</font> <i>(length=0)</i>
  6 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>3104</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>2100</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'新增'</font> <i>(length=6)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'url'</font> <i>(length=3)</i>
      'icon' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>''</font> <i>(length=0)</i>
      'route' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>''</font> <i>(length=0)</i>
  7 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>3105</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>2100</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'更新'</font> <i>(length=6)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'url'</font> <i>(length=3)</i>
      'icon' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>''</font> <i>(length=0)</i>
      'route' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>''</font> <i>(length=0)</i>
  8 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>3106</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>2100</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'删除'</font> <i>(length=6)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'url'</font> <i>(length=3)</i>
      'icon' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>''</font> <i>(length=0)</i>
      'route' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>''</font> <i>(length=0)</i>
  9 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>4000</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'Posts'</font> <i>(length=5)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'nav'</font> <i>(length=3)</i>
      'icon' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'shopping-cart'</font> <i>(length=13)</i>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'post'</font> <i>(length=4)</i>
      'route' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'/post'</font> <i>(length=5)</i>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'4000'</font> <i>(length=4)</i>
  10 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>5000</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'Request'</font> <i>(length=7)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'nav'</font> <i>(length=3)</i>
      'icon' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'api'</font> <i>(length=3)</i>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'request'</font> <i>(length=7)</i>
      'route' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'/request'</font> <i>(length=8)</i>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'5000'</font> <i>(length=4)</i>
  11 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>6000</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>0</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'UI Element'</font> <i>(length=10)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'nav'</font> <i>(length=3)</i>
      'icon' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'camera-o'</font> <i>(length=8)</i>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>''</font> <i>(length=0)</i>
      'route' <font color='#888a85'>=&gt;</font> <font color='#3465a4'>null</font>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'6000'</font> <i>(length=4)</i>
  12 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>6100</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>6000</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'IconFont'</font> <i>(length=8)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'menu'</font> <i>(length=4)</i>
      'icon' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'heart-o'</font> <i>(length=7)</i>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'iconfont'</font> <i>(length=8)</i>
      'route' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'/UIElement/iconfont'</font> <i>(length=19)</i>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'6100-6000'</font> <i>(length=9)</i>
  13 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>6200</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>6000</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'DataTable'</font> <i>(length=9)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'menu'</font> <i>(length=4)</i>
      'icon' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'database'</font> <i>(length=8)</i>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'dataTable'</font> <i>(length=9)</i>
      'route' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'/UIElement/dataTable'</font> <i>(length=20)</i>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'6200-6000'</font> <i>(length=9)</i>
  14 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>6300</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>6000</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'DropOption'</font> <i>(length=10)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'menu'</font> <i>(length=4)</i>
      'icon' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'bars'</font> <i>(length=4)</i>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'dropOption'</font> <i>(length=10)</i>
      'route' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'/UIElement/dropOption'</font> <i>(length=21)</i>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'6300-6000'</font> <i>(length=9)</i>
  15 <font color='#888a85'>=&gt;</font> 
    <b>array</b> <i>(size=8)</i>
      'id' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>6400</font>
      'pid' <font color='#888a85'>=&gt;</font> <small>int</small> <font color='#4e9a06'>6000</font>
      'name' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'Search'</font> <i>(length=6)</i>
      'type' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'menu'</font> <i>(length=4)</i>
      'icon' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'search'</font> <i>(length=6)</i>
      'model' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'search'</font> <i>(length=6)</i>
      'route' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'/UIElement/search'</font> <i>(length=17)</i>
      'path' <font color='#888a85'>=&gt;</font> <small>string</small> <font color='#cc0000'>'6400-6000'</font> <i>(length=9)</i>
</pre>{"message":"没有权限","code":500,"status":false}
</body>
</html>